@import "tailwindcss";

body {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: Prompt, sans-serif;
}

hr {
  @apply border-zinc-200 dark:border-zinc-800;
}

input {
  @apply bg-transparent outline-none w-full;
}

.btn {
  cursor: pointer;
  transition: .2s all;
  &:active {opacity: 0.5 !important;}
  @media (hover:hover) {
    &:hover {opacity: 0.75;}
  }
}

.box {
  @apply bg-zinc-100 dark:bg-zinc-900;
  &.this, & .this {
    @apply bg-zinc-900 text-zinc-50 dark:bg-zinc-100 dark:text-zinc-900;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}